.heroContainer{
    position: relative;
    height: 175px;
    margin-bottom: 11px;
}

.heroImage{
    border-radius: 10px;
    object-fit: cover;
}

.heroText{
    position: relative;
    top: 50%; /*Aligns the text to vertical center*/
    left: 50%; /*Aligns the text to horizontal center*/
    transform: translate(-50%, -50%); /*Center the text by moving it by its own height and width*/
    color: var(--beige);
    text-align: center;
    font-family: "Outfit", sans-serif;
    margin: 0px;
    text-shadow: 2px 2px 10px black;
    padding: 5px;
}