.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.form{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
    gap: 0.25rem;
}

.link{
    color: rgb(241 245 249);
    text-decoration: none;
}