.title {
    margin: 0;
    font-family: "Outfit", sans-serif;
    color: var(--beige);
    font-size: 22px;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 20px;
    margin-top: 5px;
}

.capsulePriceInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.capsulePriceInfo {
    display: flex;
    justify-content: space-between;
}

.capsulePriceInfo>p {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.svpRatioKey {
    display: flex;
    align-items: center;
    gap: 4px;
}

@media (min-width: 1024px) {
    .title {
        margin-bottom: 40px;
        font-size: 26px;
    }

    .capsulePriceInfoContainer {
        gap: 10px;
    }

    .capsulePriceInfo>p {
        font-size: 18px;
    }
}

@media (min-width: 1280px) {
    .title {
        margin-bottom: 80px;
        font-size: 28px;
    }

    .capsulePriceInfoContainer {
        gap: 15px;
    }

    .capsulePriceInfo>p {
        font-size: 20px;
    }
}