.stickerCardContainerBorder {
    display: flex;
    text-decoration: none;
    border-radius: 5px;
    border: double 2px transparent;
    background-image: linear-gradient(var(--black), var(--black)),
        linear-gradient(90deg, #A63A50, #788aa3);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.stickerCardContainer {
    display: flex;
    padding: 5px;
    width: 100%;
}

.stickerCard {
    background-image: url("/images/backgrounds/stickerBG.svg");
    background-size: cover;
    width: 30%;
    height: fit-content;
    border-radius: 5px;
    padding: 15px 0;
}

.stickerIconContainer {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stickerIcon {
    box-sizing: border-box;
    width: 100%;
}

.stickerDetails {
    padding: 10px 0;
    margin-left: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stickerTitle {
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    color: var(--beige);
    /* Lines with /**/
    /*are the alternative to overflow:hidden; text-overflow:ellipsis;
    white-space:nowrap; which adds ... if the text is too long. Problem: It somehow changed the 30/70 size, which is why I used the alternative*/
    overflow: hidden;
    /**/
    -webkit-line-clamp: 1;
    /**/
    -webkit-box-orient: vertical;
    /**/
    display: -webkit-box;
    /**/
    white-space: normal;
    /**/
    max-width: 100%;
    width: 100%;
}

.stickerPrice {
    width: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-align: end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

/*CSS used for Sticker Cards on wider screens*/
@media (min-width: 1024px) {
    .stickerCardWide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 7%;
        background-image: url("/images/backgrounds/stickerBG.svg");
        background-size: cover;
        border-radius: 5px;
        height: 100%;
        box-sizing: border-box;
    }

    .stickerTitleWide {
        font-family: "Outfit", sans-serif;
        font-size: 20px;
        color: var(--beige);
        margin: 0;
        text-align: center;
    }

    .stickerIconAndInformationContainerWide {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .stickerIconContainerWide {
        display: flex;
        justify-content: center;
    }

    .stickerIconWide {
        width: 100%;
    }

    .stickerPriceWide {
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        font-weight: bold;
    }

    .stickerPriceWide>p {
        margin: 0;
    }

    .steamButtonContainer {
        display: flex;
        justify-content: center;
    }
}