@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --black: #272727;
  --beige: #F0E7D8;
  --blue: #44CCFF;
  --blueDark60: #005e81;
  --footerBlack: #181818;
}

.layout{
  background-color: var(--black);
  max-width: 85%;
  color: white;
  margin: 0px auto;
}