.stickerCardSection{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 768px){
    .stickerCardSection{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }
}

@media (min-width: 1024px){
    .stickerCardSection{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}