.searchContainer{
    display: flex;
    border: 2px solid white;
    border-radius: 5px;
    align-items: center;
    box-sizing: border-box;
}

.search{
    width: 100%;
    box-sizing: border-box;
    background-color: var(--black);
    border: none;
    outline: none;
    padding: 6px 0px;
    padding-left: 6px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: white;
}

.searchIcon{
    font-size: 15px;
    padding-right: 2px;
}

@media (min-height: 800px){
    .search{
        font-size: 14px;
    }
}