.outlineButton{
    color: var(--beige);
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    border: 2px solid var(--blue);
    border-radius: 10px;
    padding: 12px 5px;
    transition: border 0.4s;
    text-decoration: none;
}

.outlineButton:hover{
    border: 2px solid var(--blueDark60);
}

.icon{
    transition: scale 0.4s;
}

.outlineButton:hover .icon{
    scale: 1.2;
}

.outlineButton:hover > p{
    font-weight: bold;
}

.outlineButton > p{
    margin: 0;
}
