.pageWrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.logoBackground{
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5000;
    background-color: var(--black);
    display: flex;
    justify-content: center;
}

.logoContainer{
    margin: 0 7.5%;
    padding: 0;
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.childrenContainer{
    padding-top: 81px;
    width: 85%;
    max-width: 1440px;
    margin: 0px auto;
}

.endLine{
    height: 12px;
    background-position: center center; /*Used because if it is not there, the endLine will be too bright*/
}
