.infoContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 45px;
}

.errorText{
    text-align: center;
}

@media (min-width: 768px){
    .capsuleSectionContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        border: 1px solid red;
    }

    .capsuleCardContainer{
        width: 45%;
        box-sizing: border-box;
    }

    .infoContainer{
        display: flex;
        flex-direction: column;
        width: 50%;
        max-width: 800px;
        margin-bottom: 0;
    }

    .outlineButtonContainer{
        width: 50%;
        align-self: self-end;
    }
}

@media (min-width: 1024px){
    .infoContainer{
        gap: 40px;
    }
}

@media (min-width: 1280px){
    .infoContainer{
        gap: 80px;
    }
}
