.infoContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 45px;
}

.stickerSectionHead{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stickerSectionHeadTitle{
    font-family: "Outfit", sans-serif;
    color: var(--beige);
    font-size: 24px;
    margin: 0;
}

.errorText{
    text-align: center;
}

@media (min-width: 768px){
    .capsuleSectionContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    .capsuleCardContainer{
        width: 45%;
        box-sizing: border-box;
    }

    .infoContainer{
        display: flex;
        flex-direction: column;
        width: 50%;
        max-width: 800px;
        margin-bottom: 0;
    }

    .outlineButtonContainer{
        width: 50%;
        align-self: self-end;
    }
}

@media (min-width: 1024px){
    .infoContainer{
        gap: 40px;
    }

    .stickerSectionHead{
        flex-direction: row;
        justify-content: space-between;
    }

    .stickerSectionHeadTitle{
        font-size: 28px;
    }
}

@media (min-width: 1280px){
    .infoContainer{
        gap: 80px;
    }

    .stickerSectionHeadTitle{
        font-size: 30px;
    }
}
